body {
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}   

.container {
    margin: 0 auto;
}

nav {
    background-color: crimson;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
  
.menu {
    display: flex;
}
  
.menu li {
    list-style: none;
    margin-left: 20px
}

.nav-con a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: blue;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: auto;
}

img {
    height: 400px;
    width: 300px;
}